<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.rtl.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none fs-1">Bliss</a>
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/Home/Index" class="nav-link px-2 text-secondary">Главная</a></li>
                    <li><a href="/Cars/List" class="nav-link px-2 text-white">Машины</a></li>
                    <li><a href="/Cars/List/electro" class="nav-link px-2 text-white">Электромобили</a></li>
                    <li><a href="/Cars/List/fuel" class="nav-link px-2 text-white">Бензиновые автомобили</a></li>
                </ul>
                <div class="text-end">
                    <a href="/ShopCart/" class="nav-link px-2 text-white btn btn-primary">Корзина</a>
                </div>
            </div>
        </div>
    </header>
 

    <div class="container mt-5">
        @RenderBody()
    </div>
    <footer class="container">
        <p>©2021 Все права защищены <a href="#">Соглашение</a>
    </footer>
    <script src="~/js/bootstrap.min.js"></script>
</body>
</html>


